# Node.js
node_modules

# Java
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
**/bin/main/*
**/bin/test/*
!**/src/main/**/build/
!**/src/test/**/build/
application-local.yaml

# artifacts
.certs
.artifacts
shapeParams.json
*.zip
deploy/tf/generated/

# Logs
logs
*.log

# Draw.io
*.drawio.bkp
*.drawio.dtmp

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Editors and Systems
.vscode/
.DS_Store
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/