region                          = "{{ region_name }}"
region_peer                     = "{{ region_peer }}"
tenancy_ocid                    = "{{ tenancy_id }}"
compartment_ocid                = "{{ compartment_id }}"
ssh_public_key                  = "{{{ ssh_public_key }}}"
ssh_private_key_path            = "{{{ ssh_private_key_path }}}"
cert_fullchain                  = "{{{ cert_fullchain }}}"
cert_private_key                = "{{{ cert_private_key }}}"
project_name                    = "{{{ project_name }}}"